{%extends 'header.html'%}
{%block content%}
      <div class="nav">
        {%for c in clubs%}
        <h2>– Football Club {{c.nom}} –</h2>
        {%endfor%}
        <table class="content-nav">
          <thead>
            <tr>
              <td>player</td>
              <td>Tugilgan sanasi</td>
              <td>nationality</td>
              <td>
                transfer value, <br />
                mill. euro
              </td>
            </tr>
          </thead>
        </table>
      </div>
      <div class="content">
        <table class="players">
          {%for p in players%}
          <tr>
            <td>{{forloop.counter}}.{{p.ism}}</td>
            <td>{{p.t_yil}}</td>
            <td>{{p.davlat.nom}}</td>
            <td>{{p.narx}}</td>
          </tr>
          {%endfor%}
        </table>

        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Vitae soluta
          sequi quia eos cupiditate rerum accusantium odit enim, expedita,
          architecto error dignissimos voluptatibus. Nisi illo, maiores fugit
          amet neque eveniet!
        </p>
      </div>
{%endblock%}